

.formlabel {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding: 5px;
    font-weight: bold;
}

input:focus, textarea:focus, select:focus {
    border: solid 4px #0658fc;
    outline: none;
}


.error {
    color: #FF0000;
    padding-left: 5px;
}


