/* style for css demo */
 
/*
#103464 - darkest blue
#1B57A6 - darker blue
#2A7ABF medium blue
#365902 - dark earthy green
#F21905 - fire red
#8C0E03 - dark blood red

*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  img {
    max-width: 100%;
  }

  /*----------Utility Classes------------------*/

  .container {
    padding: 40px;
    margin:auto;
  }

  body {
    background-color: #103464;
    font-family: "Lexend Exa", sans-serif;
  }

  main {
    background-color: #fff;
    width:80vw;
    margin: 40px auto;
    border: 20px solid #F21905;
    border-radius:40px;
  }

  header.primary {
    padding: 20px;
    background-image: url("../img/magnolia-blossoms-early-spring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-bottom:3px, #F21905;
  }

  header.primary h1, header.primary h2 {
    margin: 0;
  }
  
  header.primary h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    text-shadow: 2px 2px #103464;
  }

  header.primary h2 {
    color:#fff;
    text-shadow: 2px 2px #103464;
  }

  header.primary div.hgroup {
    width: 20%;
  }

  header.primary nav {
    width: 30%;
  }

  header.primary nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  header.primary nav ul li {
    background-color: #000;
  }

  header.primary nav ul li a {
    border:1px solid #F21905;
    border-right:#000;
    border-radius: 10px 0;
    color: #fff;
    display: block;
    background-color: rgba (0,0,0,.2);
    text-align: right;
    padding: 10px 10px 10px 0px;
    text-decoration: none;
  }

  header.primary nav a:hover {
    background-color: rgba(0,0,0,.3);
    text-decoration: underline;
  }

 #content {
  line-height:1.2rem;
 }

 #content h2, #content h3, article.widget h2 {
  color: #365902;
  border-left: 7.5px solid #103464;
  padding: 7.5px;
  border-radius: 15px 0px;
 }

 #blog {
  background: #103464;
  padding: 20px 0;
  border-top: 6px double #F21905;
  border-bottom: 6px double #F21905;
 }

 #blog article.post {
  background-color: #fff;
  margin: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "figure header"
    "figure post-content"
    "figure footer"
  ;
 }

 #blog article figure {
  grid-area: figure;
  margin: 0 20px 0 0;
 }

 #blog article header {
  grid-area: header;
 }
 
 #blog article.post-content {
  grid-area: post-content;
 }

 #blog article.post-meta {
  grid-area: footer;
 }

 #blog > h2 {
  color: #fff;
  text-shadow: 0, 0, 0, .8;
  font-size: 2.2rem;
  margin-left
 }

 /*------descendant selector example-----*/

aside .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

#colophon {
  text-align: center;
  background-image: url("../img/magnolia-blossoms-early-spring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

}

