/*
 Color Theme Swatches in Hex 
dark navy teal { color: #093640; }
dark teal { color: #026873; }
medium teal { color: #038C8C; }
bright teal { color: #03A696; }
peach sand { color: #F2ECE9; }
*/

body {
    background-color: #125268;
    color: #ece8e8;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1rem;
}

.container {
  max-width: 900px;
  margin: 4em auto;
  padding: 2em 4em;
  box-sizing: border-box;
}

.img-right {
  float: right;
  margin: 10px 0px 10px 30px;
  border: 2px solid #ddd; /* Soft gray border */
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}
header#primary::before {
  background-image: url(https://klmerritt44.github.io/it-pearl/assets/img/abstract-bg-1700.jpeg);
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}
header#primary {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 40px;
  color: #fff;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: relative;
  padding-top: 10px;
  background-color: #000;
}
.header-content {
  position: relative;
}

header#primary nav#primary {
  padding: 1em;
}

header#primary nav#primary ul li {
  text-decoration: none;
}

header#primary nav#primary ul li a {
  text-decoration: none;
  color: #ede8f5;
}

header#primary nav#primary ul li a:hover {
  text-decoration: underline;
}

a.tagline {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  background: #026873;
  padding: 12px 15px;
  border-radius: 5px;
  display: inline-block;
  transition: background 0.3s ease-in-out;
}
a.tagline:hover {
  background: #03A696;
}

h1 {
    font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-variation-settings:"wdth" 100;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

main section#content {
  max-width: 80vw;
  background-color: #ede8f5;
  margin: auto;
  color:#1a2652;
}

article#reflection {
  border-bottom: solid 2px #1a2652;
  margin-bottom: 30px;
}

footer#colophon {
  background-color: #0a2c38;
  padding: 10px;
}

footer#colophon h6 {
  font-size: 1rem;
}