/*
 Color Theme Swatches in Hex 
dark navy teal { color: #093640; }
dark teal { color: #026873; }
medium teal { color: #038C8C; }
bright teal { color: #03A696; }
peach sand { color: #F2ECE9; }
*/

body {
    background-color: #125268;
    color: #ece8e8;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3em;
  box-sizing: border-box;
}
header#primary::before {
  background-image: url(https://klmerritt44.github.io/it-pearl/assets/img/abstract-bg-1700.jpeg);
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}
header#primary {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 40px;
  color: #fff;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: relative;
  padding-top: 10px;
  background-color: #000;
}
.header-content {
  position: relative;
}

/*
header#primary{
  background-image: url(https://klmerritt44.github.io/it-pearl/assets/img/abstract-bg-1700.jpeg);
  background-position: cover;
  
  
}
*/
header#primary nav#primary {
  padding: 1em;
}

header#primary nav#primary ul li {
  text-decoration: none;
}

header#primary nav#primary ul li a {
  text-decoration: none;
  color: #ede8f5;
}

header#primary nav#primary ul li a:hover {
  text-decoration: underline;
}

h1 {
    font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-variation-settings:"wdth" 100;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

main section#content {
  max-width: 80vw;
  background-color: #ede8f5;
  margin: auto;
  color:#1a2652;
}

footer#colophon {
  background-color: #0a2c38;
  padding: 10px;
}

footer#colophon h6 {
  font-size: 1rem;
}