/*----Buffalo River Adventure website stylesheet--------*/


/*------Color Scheme 

#E9EBD3 - Light Stone
EBEBEF - Light blueish stone
#DAD0B7 - Beige
#196FAA - Bright med blue
#BFB304 - Yellow Green
#8C8303 - Yellow Brown Pea
#595302 - Greenish Brown
#592B02 - Redish Brown

nav menu code: https://codepen.io/syahrizaldev/pen/vYRoVZX


-----*/


:root {
    --body-text: #383737;
    --body-text-inverse: #EBEBEF;
    --header-text: #19496B;
    --header-text-inverse: #EBEBEF;
    --light-bg: #EBEBEF;
    --dark-bg: #196FAA;
    --accent-color:#BFB304;
    --dark-bg-opacity: rgba(78, 69, 126, 0.7);
    --standard-padding: 30px;
  }
  
  html {
    color: var(--body-text);
    font-size: 1em;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
  
    /* #region global styles ------------- */
  
   body {
    border: solid 2px;
    font-family: "Host Grotesk", serif;
    font-size: 1rem;
    background: var(--light-bg);
    margin: 0px;
   }
  
   a {
    color: var(--body-text);
  }
  
  a[href^="https://"]::after,
  a[href^="http://"]::after {
    content: url(../includes/external-icon.svg);
    width: .8em;
    display: inline-block;
    margin-left: .3em;
  }
  
   h1,h2,h3,h4 {
    font-family: "Lexend", serif;
    font-weight: 300;
   }
  
   h2 {
    font-size: 2.1em;
   }
  
   h3 {
    font-size: 1.4em;
   }

   /* ---- Responsive Images ----*/
img {
    max-width: 100%;
    height: auto;
  }
  
  /* #endregion global styles---------- */

  /* #region utility ----------------*/


.container{
  width: 90%;
  margin: 60px auto 80px auto;
  max-width: 1200px;
}
a, button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
}
img, video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.cta-button {
  background-color: #196FAA;
  color: var(--header-text-inverse);
  border-radius: 9px;
  padding: .7em;
  text-decoration: none;
  margin-top: 10px;
}
.cta-button {
  background-color:  #196FAA;
  color: var(--header-text-inverse);
  border-radius: 9px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.cta-button:hover {
  opacity: 0.8;
  font-weight: bold;
}
.img-right{
    float:right;
    margin: 10px 0 10px 20px;
    padding: 5px;
}
.img-left {
    float:left;
    margin: 10px 20px 10px 0px;
    padding: 5px;
}
.img-center {
    display: block;
    padding: 5px;
    margin: 20px auto;
    padding: 5px;
}
   /* Hide visually and from screen readers*/
.hidden,
[hidden] {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.two-col-grid {
  display: grid;
  margin-bottom: 30px;
}

.three-col-grid {
  display: grid;
  margin-bottom: 30px;
}

.callout {
    background: var(--dark-bg-opacity);
    color: var(--body-text-inverse);
    padding: 1.5em;
    bottom: 20px;
    max-width: 100%;
}

div.social img{
  width: 45px;
  margin: 30px auto;
  text-align: center;
}

div.social a::after{
  content: "";
}

/* #endregion utility */

/* #region main css------*/
header.primary nav.secondary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1rem;
  row-gap: 2rem;
  width: 100%;
  height: 2rem;
  background: var(--dark-bg);
  padding: 5px 10px;
}
nav.secondary a {
  color: var(--body-text-inverse);
  text-decoration: none;
}
header.primary h1 {
  float: left;
}
header.primary h2 {
  font-size: 1.5rem;
}
header.primary h1 a {
  background: url(../includes/logo.svg) no-repeat;
  display: block;
  width: 135px;
  height: 165px;
  margin: 0px auto 0px 10px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
header.primary .container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}
header.primary nav ul li {
  list-style-type: none;
}

/* #region navigation menu------*/


/*--modified from CodePen responsive nav: https://codepen.io/klmerritt44/pen/RNwogrJ?editors=1100 ---*/

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 2rem;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: var(--shadow-medium);
    background-color: var(--color-white-100);
    transition: all 0.5s ease;
 }
  .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
 }
}
.menu-item {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--color-black-500);
  transition: all 0.3s ease-in-out;
}

/*--commenting this out bc idk what it is
.menu-link > i.bx {
  font-size: 1.35rem;
  line-height: 1.5;
  color: inherit;
}
  ----*/
.menu-link:hover {
  outline: none;
  color: var(--accent-color);
}
@media only screen and (min-width: 993px) {
  .menu-dropdown:hover > .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
 }
}
@media only screen and (max-width: 992px) {
  .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
 }
  .menu-item {
    display: block;
    margin: 0 auto;
 }
  .menu-link {
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
 }
}
.submenu {
  position: absolute;
  top: 2.35rem;
  left: -2rem;
  min-width: 13rem;
  height: auto;
  padding: 0 1rem 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 2px solid var(--accent-color);
  box-shadow: var(--dark-bg);
  background-color: var(--light-bg);
  transition: all 0.3s ease-in-out;
}
.submenu-item {
  display: block;
  margin-top: 0.75rem;
}
.submenu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  color: var(--body-text);
  transition: all 0.35s ease;
  text-decoration: none;
}
.submenu-link:hover {
  outline: none;
  color: var(--accent-color);
}
@media only screen and (max-width: 992px) {
  .submenu {
    position: relative;
    top: -0.5rem;
    left: 2.5rem;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    transform: translateY(0px);
    box-shadow: none;
    background: transparent;
 }
}
.burger {
  position: relative;
  display: none;
  cursor: pointer;
  user-select: none;
  width: 1.6rem;
  height: 1.15rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
.burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2.1px;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 1rem;
  background: var(--color-black-500);
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
@media only screen and (max-width: 992px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
 }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}
@media only screen and (max-width: 992px) {
  .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
 }
}

/* #endregion navigation */

#primary-hero {
  background-image: url(https://klmerritt44.github.io/it-pearl/mini-site/assets/img/bluff-fall-color-1800.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}
.arrow {
  width: 40px;
  height: 40px;
  bottom: 40px;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 4px #fff solid;
  border-bottom: 4px #fff solid;
}
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
.arrow, .arrow:before {
  position: absolute;
  left: 50%;
}
section#content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  height: 100%; /* or set a specific height if you need */
}
.grid-item {
  background-color: #f0f0f0;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
section.hero-photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section.hero-photo-grid img:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
}

/* Make the last column span both rows */
.grid-item:last-child {
  grid-row: span 2;
}

aside .widget a {
  display: block;
}

aside .widget a:hover {
  color: var(--accent-color);
}

aside .widget footer {
  font-size: .8rem;
}

/*----------hero------------*/

#hero {
  padding: 4em 0;
  max-width: 800px;
  width:80vw;
  margin: 40px auto;
}
div.see-more {
  text-align: center;
  margin-top: 90px;
}
/* Customize Previous/Next/Dots/Autoplay */
.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
color: #000;
font-size: 2rem;
}
/* Customize Previous/Next/Dots/Autoplay - Active State */
.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
  color:#787878;
}
.slick-prev .slick-prev-icon:before {
  margin: -2rem;
}
footer#colophon {
  background-color: var(--dark-bg);
  color: var(--body-text-inverse);
  padding: 20px;
}

footer#colophon h6 {
  font-size: 1.3rem;
}

footer#colophon a {
  color: var(--body-text-inverse);
}


   
/* #endregion main css -------------- */